/* Base styles */
:root {
  --primary: rgb(247, 119, 84);
  --small: rgb(255, 188, 128);
  --medium: rgb(255, 159, 69);
  --large: rgb(247, 110, 17);
  --light: #eee;
  --dark: #313154;
  --gray: #888;
  --danger: #f32424;
  --greenS: rgb(130, 205, 72);
  --greenM: rgb(85, 180, 54);
  --greenL: rgb(56, 146, 56);
  --highLighter: rgb(191, 191, 191);

  --btn: rgb(51, 177, 202);
  --textBtn: rgb(34, 107, 135);
  --formBtn: rgb(12, 177, 180);

  --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  --small-glow: 0px 0px 4px rgba(255, 188, 128, 0.75);
  --medium-glow: 0px 0px 4px rgba(255, 159, 69, 0.75);
  --large-glow: 0px 0px 4px rgb(247, 110, 17, 0.75);
  --greenS-glow: 0px 0px 4px rgba(130, 205, 72, 0.75);
  --greenM-glow: 0px 0px 4px rgba(85, 180, 54, 0.75);
  --greenL-glow: 0px 0px 4px rgba(56, 146, 56, 0.75);

  --side-panel: rgb(251, 251, 250);
  --main-panel: rgb(255, 255, 255);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Styles for large screens */
.container {
  display: flex;
  flex-direction: row;
  min-height: 90svh;
  max-height: 90svh;
  min-width: 90svw;
  max-width: 90svw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  backdrop-filter: blur(5px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    min-height: 90svh;
    max-height: 90svh;
    min-width: 90svw;
    max-width: 90svw;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    backdrop-filter: blur(5px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Additional styles */
.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the thumb */
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}
