:root {
  --primary: rgb(247, 119, 84);
  --small: rgb(255, 188, 128);
  --medium: rgb(255, 159, 69);
  --large: rgb(247, 110, 17);
  --light: #eee;
  --dark: #313154;
  --gray: #888;
  --danger: #f32424;
  --greenS: rgb(130, 205, 72);
  --greenM: rgb(85, 180, 54);
  --greenL: rgb(56, 146, 56);
  --highLighter: rgb(191, 191, 191);

  --btn: rgb(51, 177, 202);
  --textBtn: rgb(34, 107, 135);
  --formBtn: rgb(12, 177, 180);

  --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  --small-glow: 0px 0px 4px rgba(255, 188, 128, 0.75);
  --medium-glow: 0px 0px 4px rgba(255, 159, 69, 0.75);
  --large-glow: 0px 0px 4px rgb(247, 110, 17, 0.75);
  --greenS-glow: 0px 0px 4px rgba(130, 205, 72, 0.75);
  --greenM-glow: 0px 0px 4px rgba(85, 180, 54, 0.75);
  --greenL-glow: 0px 0px 4px rgba(56, 146, 56, 0.75);

  --side-panel: rgb(251, 251, 250);
  --main-panel: rgb(255, 255, 255);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("/bg.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  height: 90vh;
  width: 80vw;
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}

/* .formContainer {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  height: 100vh;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.formBtn {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 138px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  box-shadow: var(--shadow);
  opacity: 0.5;
}
.formBtn:hover {
  opacity: 1;
} */

/* 
.container {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  overflow: hidden;
} */

/* .sidebar {
  flex: 1;
  background-color: #3e3c61;

  .navbar {
    display: flex;
    align-items: center;
    background-color: #2f2b52;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;

    .logo {
      font-weight: bold;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        background-color: #ddddf7;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      button {
        background-color: #5d5b8b;
        color: #ddddf7;
        font-size: 10px;
        padding: 3px 4px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.chat {
  flex: 2;
} */
